.container__service
	flex(between)
	align-items inherit
.service__col
	width 49%
.service__title
	@extend .box
	padding 20px
	text-align center
	font-family Lato
	font-size 24px
	font-weight 700
.service__wraper
	flex(between)
	fw()
	align-items inherit
.service__el
	@extend .box
	flex(between)
	fl()
	align-items flex-start
	padding 20px
	width 48%
	height 260px
.service__el-content
	width 100%
.service__el-header
	flex(between)
.service__el-info
	width 65%
.service__el-type
	color #a6a7a9
	font-size 14px
.service__el-name
	font-weight 700
	font-size 16px
	tr(all)
	&:hover
		color orange
		text-decoration underline
.service__el-icon
	width 30%
	flex(mid)
	.icon
		size 50px
		fill #006891
//.service__el-get