.container__service
	+below(1024px)
		fw()
	flex(between)
	align-items inherit
.service__col
	+below(840px)
		width 100%
	width 49%
.service__title
	+below(768px)
		font-size 18px
		padding 10px
	@extend .box
	padding 20px
	text-align center
	font-family Lato
	font-size 24px
	font-weight 700
.service__wraper
	flex(between)
	fw()
	align-items inherit
.service__el
	+below(640px)
		width 100%
		height 150px
		flex(mid)
	@extend .box
	flex(between)
	fl()
	align-items flex-start
	padding 20px
	width 48%
	height 260px
.service__el-content
	width 100%
.service__el-header
	+below(640px)
		fw()
		flex-flow column-reverse
	flex(between)
.service__el-info
	+below(640px)
		width 100%
		text-align center
	width 65%
.service__el-type
	color #a6a7a9
	font-size 14px
.service__el-name
	font-weight 700
	font-size 16px
	tr(all)
	&:hover
		color orange
		text-decoration underline
.service__el-icon
	+below(640px)
		width 100%
	width 30%
	flex(mid)
	.icon
		size 50px
		fill #006891
.service__el-get
	+below(640px)
		margin-top 10px