mixin two-botton-block()
	//block two-botton-block
	.two-botton-block
		.two-botton-block__el
			.two-botton-block__title Поиск вакансий
			.two-botton-block__btn
				a(href="#").btn Найти вакансию
		.two-botton-block__el
			.two-botton-block__title Поиск персонала
			.two-botton-block__btn
				a(href="#").btn Найти персонал
	//block two-botton-block end