.two-botton-block
	flex(around)
	@extend .box
	padding 30px
.two-botton-block__el
	width 50%
	flex(mid)
	fl()
.two-botton-block__title
	color #282e3b
	font-family Lato
	font-size 24px
	font-weight 700
	margin-bottom 10px
//.two-botton-block__btn