.slider-items
	bsh()
	br(3px)
	margin-bottom 15px
	padding 20px
	background white
	.owl-item
		flex(mid)
//.slider-items-clients
.slider-items-title
	@extend .type--xl
	font-family Lato
	font-weight 700
	text-align center
.slider-items__wraper
	+below(768px)
		.owl-nav
			display none
	flex(around)
.slider-items__el
	size 120px
	bg-full()
	background-size contain
.slider-items-docs
	.slider-items__wraper
		margin 20px 0
	.owl-dots
		top 15px

.slider-items__wraper--doc
	.slider-items__el
		width 100px
		height 150px
		box-shadow 0px 0px 10px #d3cccc
		margin 5px
