//.keys
.keys
	@extend .box
.keys__content
	padding 20px
.keys__el-date
	color #a6a7a9
	font-family Arial
	font-size 15px
	font-weight 400
	margin-top 20px
.keys__el-text
	color #282e3b
	font-family Arial
	font-size 15px
	font-weight 400
.keys__get
	padding 25px
	border-top 1px solid #eaebeb 
.keys__title
	color #282e3b
	font-family Lato
	font-size 24px
	font-weight 700

//.link-more
//.link-more__text
//.link-more__icon
//.icon