mixin keys()
	//block keys
	.keys
		.keys__content
			.keys__title Лучшие кейсы
			.keys__date
			a(href="#").keys__el
				.keys__el-date 17 ноября 2016
				.keys__el-text Повышение показателей в Ателье УралМаша на сезон Лето-Осень 2015
		.keys__get
			a(href="#").keys__get__link
				+linkmore('все кейсы')
	//block keys end