.slider-review 
	br(4px)
	margin 40px 0
	padding  20px
	background #eef6f7 
.slider-review__title
	+below(1024px)
		font-size 18px
	+below(768px)
		font-size 16px
		margin-bottom 10px
	font-size 24px
	font-weight 700
	margin-bottom 20px
.slider-review__text 
	+below(768px)
		font-size 14px
	color #282e3b
	font-family Arial
	font-size 16px
	font-weight 400
	margin-bottom 20px
.slider-review__user 
	flex(mid)
	justify-content flex-start
.slider-review__icon 
	round()
	bg-full()
	box-shadow 0 0 5px rgba(40,46,59,0.15)
	margin-right 10px
	size 45px
	margin-left 4px
.slider-review__names 
	font-weight 700
	font-size 12px 
.slider-review__quotes
	color #333333
	font-family Lato
	font-size 44px
	font-weight 400
	height 50px
