mixin slider-review()
	//block slider-review
	.slider-review
		.slider-review-wraper.owl-carousel
			- for (var i = 0; i < 4; i++)
				.slider-review__el
					.slider-review__quotes “
					.slider-review__text Обязательство, как бы это казалось парадоксальным, виновный платежный документ. Задаток виновно запрещает акцепт. По требованию собственника делькредере гарантирует взаимозачет. Расскажу, я многое вам
					.slider-review__user
						.slider-review__icon(style="background-image:url('img/user.jpg')")
						.slider-review__names ООО Промстройторг

	//block slider-review end