.container--calc
	flex(mid)
	@extend .box
	padding 80px 0px
	fl()
.calc-wraper
	width 75%
.calc__row
	flex(between)
	margin-bottom 40px
.calc__type
	width 30%
.calc__value
	f()
	width 67%
.style-label
	width 33%
.calc-get
	margin-top 30px
.calc-get__el
	@extend .btn
