include block_html/_style.jade
include ../module/**/*.jade

.wraper-general
	+header()
	.container-general
			+bread()
			.main-cont
				.title-page.type--icon 
					.title-icon.title-icon--orange
						+icon("calc","icon")
					| Контакты
				+contact()
	//.map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=wkF1GhSDg4kZ3hDsyV_PPciU2OtbJsK4&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false")
	+footer()
include ./block_html/_script.jade
