.wraper-general
	f()
	fl()
	min-height 100vh
.container-general
	flex-grow 1
.container
	margin-bottom 40px
.owl-next,.owl-prev
	position absolute
	top 50%
	margin-top -5%
	color white
	font-size 40px
	cp()
.owl-carousel
	position relative
.owl-prev
	+below(768px)
		left 2%
	left 0%
.owl-next
	+below(768px)
		right 2%
	right 0%
.slider-control
	size 20
	fill grey
.owl-dots
	width 100%
	flex(mid)
	margin-top 0px
	position relative
	z-index 2000
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
	border 1px solid grey
.owl-dot.active
	background orange
	border 0
.title-page
	text-align center
	color #282e3b
	font-family OpenSans
	font-size 48px
	font-weight 300
	margin-bottom 90px
.container--content
	flex(between)
	align-items flex-start
.container__info
	width 68%
.container__toolbar
	width 30%
.link-more 
	f()
	&:hover
		.link-more__text
			color orange
		.icon
			fill orange
.link-more__text
	up()
	tr(all)
	color #a6a7a9
	font-family Lato
	font-size 14px
	font-weight 300
	margin-right 10px
.link-more__icon
	fill #a6a7a9
	.icon
		tr(all)
		size 15

.box
	bsh()
	br(4px)
	background white
	margin-bottom 15px

table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th
	background-color #e6f1f3

.map
	height 400px
	margin-bottom -30px

.box-text
	padding 20px

.get-more
	flex(mid)
	margin 30px 0

.container__info--light
	@extend .box
	padding 20px

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}

/*select*/
.select2-container
	width 100%!important
	.icon
		size 15px
.select2-selection__arrow
	flex(mid)
	tr(all)
.select2-container--open
	.select2-selection__arrow
		transform rotate(180deg)
.select2-results__option // style foк ellement
	padding 10px 15px
	border-bottom 1px solid #f5f4f4
	&:last-child
		border-bottom 0
.select2-container--default .select2-selection--single
	padding 10px 15px
	height auto 
	background  #ededf2
	border 1px solid #e9e7e7	
.select2-container--default .select2-selection--single .select2-selection__arrow
	position inherit
	height auto
	display inline-block
	size 20px
.select2-selection__rendered
	padding 0!important
	margin 0!important
.select2-dropdown
	border 1px solid #f5f4f4
.select2-container--default .select2-results__option[aria-selected=true]
	background #f5f4f4 
.select2-container--default .select2-results__option--highlighted[aria-selected]
	background #e0e0e0
	color black
.select2-selection.select2-selection--single
	display flex!important
	flex(between)
.select2-container *:focus
	outline none
	border-radius 3px
	background-color #ffffff
	box-shadow 0 0 10px 0 rgba(120, 94, 105, 0.5)
	border solid 1px orange
.select2-dropdown
	border 1px solid #999
.select2-container--default .select2-results__option--highlighted[aria-selected]
	background lightness(orange,90)
	color orange
/*select*/

/*checkbox*/

.style-label
	display flex
	position relative
	align-items center
	&:hover
		cursor pointer
.style-label--checkbox
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 20px
		height 20px
		position relative
		display inline-block
		background-size cover
		margin-right 10px
		background #ededf2
		border 1px solid #d1d1d2; 
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked + .sytle-input-element
			flex(mid)
			color white
			.icon-check 
				display block
				fill red
				width 10px
				height 10px

/*checkbox*/

.container-review-news
	+below(1024px)
		fw()
	flex(between)
	align-items flex-start
	.container__news
		+below(640px)
			fw()
		flex-wrap nowrap
	.news-el
		+below(1024px)
			height initial
		width 100%
		box-shadow none
		border-radius 0
		border-right 1px solid #D5D7D8 
		&:last-child
			border 0
	.slider-review
		+below(1024px)
			height initial
		height 400px
		margin 0
.container-review-news__el-review
	+below(1024px)
		width 100%
	width 22%
	bsh()
.container-review-news__el-news
	+below(1024px)
		width 100%
		margin-top 15px
	width 77%
.container-map
	flex(between)
	align-items stretch
	margin-bottom 20px
.container-map__el
	+below(768px)
		display none
	width 73%
	bgi("map.png")
	background-size contain
	background-position center center
.container-map__rewards
	+below(768px)
		width 100%
	width 26%
.container-map__title
	color #333333
	font-size 24px
	font-weight 700
	width 350px
.more-text
	@extend .box
	padding 20px
	margin-bottom 15px
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	background orange 
.mCSB_inside > .mCSB_container
	margin-right 15px
.mCSB_scrollTools
	right -5px
.mCSB_scrollTools .mCSB_draggerRail
	background-color: rgba(0, 0, 0, 0.08)
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
	background red 