mixin news-el()
	//block news-el
	.news-el
		.news-el__date 14 января 2016
		a(href="#").news-el__text Возможности аутсорсинга в России и на территории СНГ
		a(href="#").news-el__link
			+linkmore('подробнее')
	//block news-el end