.container__news 
	flex(between)
	fw()
.news-el 
	@extend .box
	f()
	fw()
	width 24%
	padding 20px
	height 400px
	tr(all)
	&:hover
		background #F7F7F7 
.news-el__date
	 color #282e3b
	 font-family Arial
	 font-size 14px
.news-el__text 
	+below(1024px)
		font-size 14px
	+below(640px)
		margin-bottom 10px
	flex-grow 1
	min-height 85%
	color #282e3b
	font-family Lato
	font-size 18px
	font-weight 700
	tr(all)
	&:hover
		text-decoration underline
		color orange
//.news-el__link 
//.link-more 
//.link-more__text 
//.link-more__icon 
//.icon 