.review__container
	flex(between)
	fw()
.review-block
	+below(640px)
		width 100%
	@extend .box
	width 100%
	padding 20px
	margin-bottom 15px
.review-block__text
	font-size 16px
	font-family arial 
	line-height 24px
	font-style italic
	color #4e4e4e
.review-block__info
	margin-top 20px
	flex(mid)
	justify-content flex-start
.review-block__avatar
	bg-full()
	round()
	bsh()
	size 45px
	margin-right 20px
.review-block__name
	font-weight 700 
.send-review
	padding 20px 
	@extend .box
	margin-bottom 15px
	.get-more
		margin 0
.send-review__title
	text-align center
	margin-bottom 10px
	font-weight 700
	font-size 24px 
