mixin review-block()
	//block review-block
	.review-block
		.review-block__text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a, distinctio animi adipisci. Quidem quas dolores, deleniti quae laudantium perspiciatis!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a, distinctio animi adipisci. Quidem quas dolores, deleniti quae laudantium perspiciatis!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a, distinctio animi adipisci. Quidem quas dolores, deleniti quae laudantium perspiciatis!	sit amet, consectetur adipisicing elit. Iste a, distinctio animi adipisci. Quidem quas dolores, deleniti quae laudantium perspiciatis!
		.review-block__info
			.review-block__avatar(style='background-image:url("img/user.jpg")')
			.review-block__name ООО Промстройторг

	//block review-block end