mixin contact()
	//block contact
	.contact
		.contact__wraper
			.contact__info
				.contact__phone 8 (495) 642-59-18 
				.contact__text
					p ООО STD Group
					p с 9:30 до 18:00, кроме субботы  и воскресенья	г. Москва, Алтуфьевское ш., дом 58Б, кв. 14
					p ОГРНИП: 316774600363761 
					p ИНН: 771536905350 
					p Индекс: 127549 
			.contact__form
				form(action="javascript:void(null);" id="contact-form" class="validate-form")
					input(type="text" placeholder="Введите ваше имя" name="name")
					input(type="text" placeholder="Введите ваш телефон" name="phone")
					textarea(cols="30", rows="10" placeholder="Вашe сообщение" name="text")
					input(type="submit" class="btn--light" value="Отправить")

	//block contact end