.contact
	@extend .box
	padding 50px 0
	flex(mid)
	margin-bottom 40px
.contact__wraper
	width 80%
	flex(between)
	align-items flex-start
.contact__info
	width 40%
	color #333333
	font-family Lato
	font-weight 400
.contact__phone
	font-size 32px
//.contact__text
.contact__form
	width 40%
	input[type="text"],textarea
		background #eeeef3
		width 100% 
