/*! block footer*/

.footer 
	background dark 
	padding 40px 0 20px 0px
	font-family Lato
	margin-top 30px
.footer-wraper
	flex(between)
	align-items flex-start
.footer-nav 
	flex(between)
	align-items flex-start
	margin-right 30px
	width 65%
.footer-nav__col 
	flex-grow 1
.footer-nav__el 
	display block
	margin-bottom 10px
	color #a6a7a9
	font-family Arial
	font-size 14px
	font-weight 400
	tr(all)
	&:hover
		color orange
.footer-nav__col--menu 
	.footer-nav__el 
		color white
		font-family Lato
		font-size 16px
		font-weight 700
		tr(all)
		&:hover
			color orange
.footer-nav__title 
	color white
	font-family Lato
	font-size 16px
	font-weight 700
	margin-bottom 10px
.footer-form 
	width 35%
.footer-contact 
	margin-bottom 20px
	flex(between)
.footer-contact__logo 
	margin-right 20px
//.footer-contact__info 
.footer-contact__phone
	color #ffffff
	font-family Lato
	font-size 32px
	font-weight 400
	line-height 24px
	text-align right
	margin-bottom 10px
.footer-contact__adr 
	color #ffffff
	font-family Lato
	font-size 16px
	font-weight 400
	line-height 24px
	text-align right
.footer-form__wrap 
	input[type="text"]
		width 100%
		margin-bottom 20px
	input[type="submit"]
		margin-left auto 
.footer-copy 
	padding 10px 0
.footer-copy__text 
	color #a6a7a9
	text-align center
	font-size 14px

/*!block footer end */