-
	pages = [
		{
			'name':'Главная!1',
			'href':'index'
		}
	]

-
	top_nav = [
		{'el':'Расчет '},
		{'el':'Прайс '},
		{'el':'Услуги '},
		{'el':'Новости '},
		{'el':'Отзывы '},
		{'el':'Персонал '},
		{'el':'Кейсы '},
		{'el':'Контакты '}
	]

-
	service = [
		{'el':'Аренда персонала '},
		{'el':'Аутсорсинг персонала '},
		{'el':'Аутстаффинг персонала '},
		{'el':'Временный персонал '},
		{'el':'Лизинг пересонала '},
		{'el':'Подбор персонала '},
		{'el':'Найм персонала '}
	]

-
	keys = [
		{'el':'Грузовой квадрат '},
		{'el':'Красный мажор '},
		{'el':'Известный кейс'},
		{'el':'Грузчики в Мойшево'},
		{'el':'Лучший переезды '},
		{'el':'Азиатский экспресс'},
		{'el':'Все кейсы'}
	]













