-
	pages = [
		{
			'name':'Главная!1',
			'href':'index'
		}
	]

-
	top_nav = [
		{'el':'Расчет '},
		{'el':'Прайс '},
		{'el':'Услуги '},
		{'el':'Новости '},
		{'el':'Отзывы '},
		{'el':'Персонал '},
		{'el':'Кейсы '},
		{'el':'Контакты '}
	]
