// mixin nameMixin()
// - var args = Array.prototype.slice.call(arguments)
// - for item in args

mixin icon(name,cls)
	svg(class=cls)
		use(xlink:href="#"+name)

mixin linkmore(info)
	.link-more 
		.link-more__text=info
		.link-more__icon
			+icon("arrow-right","icon")

mixin get-more(info)
	.get-more
		a(href="#").btn--light=info

mixin radio(info,group)
	label.style-label.style-label--checkbox
		input(type="radio" name=group).sytle-input
		.sytle-input-element
			+icon("checked","icon-check") 
		.sytle-input-text=info