mixin personal-galary()
	//block personal-galary
	.personal-galary
		- for (var i = 0; i < 12; i++)
			.personal-galary__el(style="background-image:url('img/personal-1.jpg')")
	//block personal-galary end