mixin personal-galary()
	//block personal-galary
	.personal-galary
		- for (var i = 0; i < 12; i++)
			a(href="img/personal-1.jpg" rel="group-elemen" style="background-image:url('img/personal-1.jpg')").fancybox.personal-galary__el
	//block personal-galary end