.personal-galary
	flex(between)
	fw()
.personal-galary__el
	+below(768px)
		width 49.5%
		height 300px
	+below(640px)
		height 120px
	bsh()
	cp()
	tr(all)
	bg-full()
	margin-bottom 1%
	width 24%
	height 200px
	&:hover
		transform scale(1.2)