mixin advant()
	//block advant
	.advant
		.advant__col.advant__col--bad
			.advant__col-title Собственный персонал
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Снижение рисков:
						.advant__list
							.advant__list-el Саботаж 
							.advant__list-el Материальная ответственность 
							.advant__list-el Юридческая ответственность 
					.advant__icon
						+icon("cancel","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Стоимость:
						.advant__list
							.advant__list-el 30000 оклад 
							.advant__list-el 4000+7000 НДФЛ+ЕСН 
							.advant__list-el 300 форма 
					.advant__icon
						+icon("cancel","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Скорость поиска персонала:
					.advant__icon
						+icon("cancel","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Качество и замена сотрудника:
					.advant__icon
						+icon("cancel","icon")
		.advant__col.advant__col--good
			.advant__col-title Заемный персонал
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Снижение рисков:
						.advant__list
							.advant__list-el Саботаж 
							.advant__list-el Материальная ответственность 
							.advant__list-el Юридческая ответственность 
					.advant__icon
						+icon("check","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Стоимость: 35000 рублей 
					.advant__icon
						+icon("check","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Скорость поиска персонала:
					.advant__icon
						+icon("check","icon")
			.advant__row
				.advant__wraper
					.advant__cont
						.advant__title Качество и замена сотрудника:
					.advant__icon
						+icon("check","icon")

	//block advant end