mixin table-price()
	//block table-price
	.table-price
		table
			thead
				tr
					th Наш персонал
					th Цена (руб.):
					th
			tbody
				- for (var i = 0; i < 10; i++)
					tr
						td 1. Грузчики
						td 3500
						td 
							a(href="#").table-price__get Связаться со мной

	//block table-price end