.vacany-el 
	padding 15px
	br(4px)
	background white
	margin-bottom 15px
	bsh() 
.vacany-el__title 
	color #ea3d03
	font-family Lato
	font-size 22px
	font-weight 700
	line-height 20px
	margin-bottom 10px
.vacany-el__pay 
	font-size 18px
	font-weight 700
	margin-bottom 10px 
.vacany-el__text 
	margin-bottom 10px
.vacany-el__date 
	margin-bottom 20px
	font-size 12px
	up()
//.vacany-el__get 