mixin vacany-el()
	//block vacany-el
	.vacany-el
		.vacany-el__title Автор научных работ (Теплоэнергетика и теплотехника)
		.vacany-el__pay от 40 000 рублей
		.vacany-el__text Анализ зарубежного опыта, в рамках сегодняшних воззрений, основан на тщательном анализе данных. Ребрендинг детерминирует межличностный диктат потребителя. Потребление, на первый взгляд, искажает 
		.vacany-el__date г. Москва,  31 октября
		a(href="#").vacany-el__get 
			+linkmore('подробнее о вакансии')
	//block vacany-el end