/*! block slider-pers*/
.slider-items-pers__img
	size 70px
	bg-full()
	round()
.slider-items-pers__el
	flex(mid)
	fl()
	margin-bottom 20px
.slider-items-pers
	.owl-next,.owl-prev
		margin-top -5%
	.slider-items-title 
		margin-bottom 30px
.slider-items-pers__title
	font-family Lato
	font-size 18px
	font-weight 700
	color #282e3b
.slider-items-pers__pay
	color #282e3b
	font-family Arial
	font-size 16px
	font-weight 400
/*!block slider-pers end */