mixin knowlage()
	//block knowlage
	.knowlage
		.knowlage__title База знаний
		.knowlage__slider.slider-one-item.owl-carousel
			- for (var i = 0; i < 4; i++)
				a(href="#").knowlage__el
					.knowlage__text С чем связан аутсорсинг и чем он лучше аутстафинга почему мы говорим с вами об этом ?
	//block knowlage end