.knowlage
	@extend .box
	padding 20px
.knowlage__el
	display inline-block
	margin-top 20px
.knowlage__title
	color #282e3b
	font-family Lato
	font-size 24px
	font-weight 700
.knowlage__text
	line-height 32px
	margin-bottom 20px
